{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(tripForm) }}
    {{ form_widget(tripForm) }}
    <button>Créer une Sortie</button>
{% endblock %}

{% block title %}
Créer une Sortie
{% endblock %}