<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Sortir.com</h1>
        <div class="nav-bar">
            <a href="{{ path('main_home') }}">Accueil</a>
        </div>
    </header>

    <main>
        {% block body %}
        {% endblock %}
    </main>

    <footer>
        <div>&copy; {{ "now" | date('Y') }} Sortir.com</div>
    </footer>
</body>
</html>