{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modifier mon profil</h2>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button class="btn btn-success">Enregister</button>
    <button class="btn btn-danger">Annuler</button>
    {{ form_end(userForm) }}

    <a href="{{ path('user_profile', {'name': app.user.name}) }}">Retour</a>


{% endblock %}

{% block title %}
    Modifier mon profil
{% endblock %}

