{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modifier mon profil</h2>

    <a href="{{ path('user_profile', {'name': app.user.name}) }}">Retour</a>
{% endblock %}

{% block title %}
    Modifier mon profil
{% endblock %}

