{% extends 'base.html.twig' %}

{% block body %}
    <h2>Modifier mon profil</h2>
    {{ form_start(userForm) }}
    {{ form_widget(userForm) }}
    <button class="btn btn-success">Enregister</button>
    <a href="{{ path('user_profile', {'name': app.user.name}) }}" class="btn btn-danger">Annuler</a>
    {{ form_end(userForm) }}




{% endblock %}

{% block title %}
    Modifier mon profil
{% endblock %}

